.menu-categories {

    .item-categoty {
        width: 250px;
        height: 58px;
        border-radius: 5px;

        .item-categoty-link {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 28px;
            padding: 15px 0 15px 20px !important;

            .title {
                padding-left: 12.6px;
            }
        }

        &.active {
            background: linear-gradient(90deg, #0055FF 2.73%, #0099FF 95.51%, #0099FF 95.51%);

        }

    }
}